.header {
  text-align: center;
  border-radius: 10px;
  background-color: #368dc9;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.meme {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
  height: 300px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

.top-text {
  align-self: flex-start;
  margin: 0px auto;
}

.bottom-text {
  align-self: flex-end;
  margin: auto auto 0px auto;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-danger {
  margin-top: 5px;
  margin-bottom: 20px;
}